<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
          <ion-title size="small">SagiPet</ion-title>
        </div>
      </div>
      <ion-buttons slot="end">
        <ion-select aria-label="filter" interface="popover" placeholder="Filter">
          <ion-select-option value="cats">Cats</ion-select-option>
          <ion-select-option value="dogs">Dogs</ion-select-option>
          <ion-select-option value="aged">Aged</ion-select-option>
        </ion-select>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pets</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <ion-card-header>
      <ion-card-title>Pets Ready for Adodption</ion-card-title>
      <ion-card-subtitle>Cats and Dogs</ion-card-subtitle>
      <ion-searchbar></ion-searchbar> 
    </ion-card-header>


    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="display: flex; align-items: center;">
    <ion-card>
        <img src="../../assets/icon/dog1.jpg" />
        <ion-card-header>
          <ion-card-title>Maxi</ion-card-title>
           <ion-card-subtitle>
          Gender: Female
          Age : 3yrs old 
        </ion-card-subtitle>
        </ion-card-header>
        <div style="width: 150px"><ion-button routerLink="/client" size=""color="success">Adopt</ion-button></div>
    </ion-card>
    
    <ion-card>
      <img src="../../assets/icon/dog1.jpg" />
      <ion-card-header>
        <ion-card-title>Maxi</ion-card-title>
         <p>H Gender: Female
          Age : 3yrs old
         </p>
      </ion-card-header>
      <div style="width: 150px"><ion-button routerLink="/client" size=""color="success">Adopt</ion-button></div>
  </ion-card>
</div>
</div>
  </ion-card-content>
   
</ion-content>

