
.content{
  text-align: center;
}
/* Style for the logo image */
.logo-img {
  height: 50px;
  width: 50px;
  margin-right: 8px;
  margin-left: 5px;
}

/* Style for the "What We Are" link */
.whtware {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.523);
}

/* Style for the ion-select elements */
.custom-select {
  width: 150px;
}

/* Style for notification icons */
.notif {
  height: 30px;
  width: 50px;
}

.person {
  height: 30px;
  width: 50px;
}

.bt {
  margin-top: 5px;
}

/* Additional styling for better visual feedback */
.fixed-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.fixed-card {
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.fixed-image {
  display: block; /* Ensure the image is a block element */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Style for the search bar */
.searchbar {
  width: 100%;
  --background: #ffffff;
  --color: #222222;
  --placeholder-color: #999;
  --border-color: #ccc;
  --border-radius: 20px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the notification badge */
.notification-button {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: 1;
  right: 1;
  transform: translate(50%, -50%);
  font-size: 0.8em;
  min-width: 1.5em;
  padding: 0.2em 0.5em;
  background-color: red;
  border-radius: 50%;
}

/* Media query for responsive design */
@media (min-width: 768px) {
  .ion-align-items-start {
    margin-top: 17px;
  }

  .locationde {
    margin-left: 20px;
    margin-left: 20px;
  }
}

/* Add your other styles here */
