@media only screen and (min-width: 992px) {
  .container {
    width: 45%;
    margin:auto;
   }
  }
*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

ion-grid {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;
  }

ion-row {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
  }
  ion-toolbar{
    --background: linear-gradient(to bottom, #43aeff, #43aeff);
  }
  ion-content{
    --background: linear-gradient(to bottom, #43aeff, #ffffff);
  }
  ion-content {
    --background: linear-gradient(to bottom, #43aeff, #b1b5e2);
  }

  ion-button {
    height: 30px;
  }

  h4 {
    text-align: center;
  }

