<ion-header [translucent]="true">
  <ion-toolbar>

    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="display: flex; align-items: center;">
        <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
        <ion-title size="small">SagiPet: Don't Shop Just Adopt</ion-title>
      </div>
      <ion-button id="auto-trigger">Filter</ion-button>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
          <ion-title size="large">client</ion-title>
        </div>x
      </div>
    </ion-toolbar>
  </ion-header>
<!-- </ion-content> -->

<!-- <ion-content> -->
<div class="container">
<ion-grid>
  <h4>Answer the following questions to proceed to the next page</h4>
  <ion-row>
    <ion-col>Is your family ready for a new pet?</ion-col>
    <ion-col size="auto">
    <div style="width: 150px"><ion-button color="medium">Yes</ion-button><ion-button color="medium">No</ion-button></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Do you have experinece taking care of a pet? If No, are you prepared to deal with special pet challenges that may occur?</ion-col>
    <ion-col size="auto">
    <div style="width: 150px"><ion-button color="medium">Yes</ion-button><ion-button color="medium">No</ion-button></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Are you ready to make a long term commitment?</ion-col>
    <ion-col size="auto">
    <div style="width: 150px"><ion-button color="medium">Yes</ion-button><ion-button color="medium">No</ion-button></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Can you afford to take care of your pets health and safety?</ion-col>
    <ion-col size="auto">
    <div style="width: 150px"><ion-button color="medium">Yes</ion-button><ion-button color="medium">No</ion-button></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Do you have enough time to take care of a pet?</ion-col>
    <ion-col size="auto">
    <div style="width: 150px"><ion-button color="medium">Yes</ion-button><ion-button color="medium">No</ion-button></div>
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col>Is your home an adequate environment to adopt a pet?</ion-col>
  <ion-col size="auto">
  <div style="width: 150px"><ion-button color="medium">Yes</ion-button><ion-button color="medium">No</ion-button></div>
  </ion-col>
</ion-row>

<div style="display: flex; justify-content: center;">
  <ion-button routerLink="/dashboard" shape="round">Proceed</ion-button>

</div>
</ion-grid>
</div>
</ion-content>