.content {
  
    border: none; /* Remove the border */
    box-shadow: none; /* Remove any box shadow */
    padding-left: 40px; /* Optionally, remove any margin or padding */
    padding-right: 40px; /* Optionally, remove any margin or padding */
    
  
  }

  .ion-text-center {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
  }

.already-member {
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}
  *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }