.content {
  
    border: none; /* Remove the border */
    box-shadow: none; /* Remove any box shadow */
    padding-left: 40px; /* Optionally, remove any margin or padding */
    padding-right: 40px; /* Optionally, remove any margin or padding */
    
  
  }