<ion-header [translucent]="true" class="ion-justify-content-center">
  <ion-toolbar>
    
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="display: flex; align-items: center;">
        <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
        <ion-title size="small">SagiPet: Don't Shop Just Adopt</ion-title>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list>
        <h1>Log in</h1><br>
        <!-- <form [formGroup]="loginForm"> -->
          <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Enter Email"></ion-input>
          <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Enter Password"></ion-input>
        <!-- </form> -->
  
      <ion-checkbox></ion-checkbox> Remember me
      <a class="ion-float-right">Forgot Password?</a>
      <br><br><br>
      <ion-button >Login</ion-button>
      
      <div class = "or">
        <div class ="orline"></div>
        <div class ="ortext">or continue with</div>
        <div class ="orline"></div>
      </div>

      <ion-button color="medium" (click)="signInWithGoogle()"><ion-icon name="logo-google"></ion-icon>Continue with Google</ion-button>
    
      <div class="center-container">
        <div class="align-center">
          <div class="do"></div>
          <div class="dotext">Don't have an account?</div>
          <a class="ion-float-right" routerLink="/sign-up">Sign up</a>
        </div>
      </div>
      
      
    </ion-list>
  </div>
  
</ion-content>
