<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Forgot Password?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate>
    <ion-list class="ion-padding">
      <ion-item class="ion-margin-bottom" [class.invalid-email]="isEmailInvalid()">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>

     

      

      <ion-button expand="full" type="button" (click)="sendVerificationCode()" color="primary">
        Verify Email
      </ion-button>

      
    </ion-list>
  </form>
</ion-content>
