
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row size="auto">
        <ion-title color="dark" class="welcome">
          <b>Announcement</b> <br /><ion-label class="here"> Create Announcement</ion-label>
        </ion-title>
        <ion-list>
          <ion-buttons slot="end" class="notification-ellipsis">
            <ion-button fill="clear" (click)="openNotificationPopover($event)" class="notification-button">
              <ion-icon name="notifications-outline" class="notif"></ion-icon>
              <ion-badge color="danger" class="notification-badge">{{ notificationsCount }}</ion-badge>
            </ion-button>
            <ion-button fill="clear" (click)="presentActionSheet()">
              <ion-icon name="ellipsis-vertical-outline" class="person"></ion-icon>
              </ion-button>
              </ion-buttons>
              </ion-list>
      </ion-row>
    </ion-grid>
  </ion-toolbar>


<ion-content [fullscreen]="true" color="light" >
  <ion-toolbar color="light">
    <ion-grid>
      <ion-row>
        <ion-col size="9" class="ion-text-start"></ion-col>
        <ion-col size="3">
          <ion-toolbar color="light">
            <ion-buttons slot="end" class="createann">
              <ion-button color="dark" (click)="toggleCreateAnnouncement()">
                <ion-icon name="megaphone-outline" color="primary"></ion-icon> Create Announcement
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Create Announcement section (Initially hidden) -->
  <ion-card *ngIf="showCreateAnnouncement">
    <ion-card-header>
      <ion-toolbar>
        <ion-title><b>Create Announcement</b></ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="toggleCreateAnnouncement()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-item >
        <ion-label position="stacked">Announcement Title</ion-label>
        <ion-input [(ngModel)]="newAnnouncement.title" placeholder="Announcement Title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Summary</ion-label>
        <ion-textarea rows="6" [(ngModel)]="newAnnouncement.content" placeholder="Summary..."></ion-textarea>
      </ion-item>
      
        <ion-toolbar>
          <ion-button color="light">
          <ion-icon name="image-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
      
      <ion-button expand="full" color="primary" (click)="createAnnouncement()" class="publish" slot="end">
        Publish
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-toolbar color="light">
    <ion-grid>
      <ion-row class="filter-row">
        <ion-col size="12" size-md="4">
          <ion-searchbar color="light" placeholder="Search..."
          [(ngModel)]="searchTerm"
            (ionClear)="clearSearch()"
            (ngModelChange)="filterItems()"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Table for displaying announcements -->
  <ion-card class="table-card">
    <ion-card-content>
      <table class="announcement-table">
        <thead>
          <tr>
            <th class="date-column">Date and Time</th>
            <th class="announcement-column">Announcement</th>
            <th class="details-column">Details</th>
            <th class="delete"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="announcements.length > 0; else noAnnouncements">
            <tr *ngFor="let announcement of announcements">
              <ng-container *ngIf="!searchTerm || announcement.title.toLowerCase().includes(searchTerm.toLowerCase())">
                <td class="date-column">{{ announcement.dateTime }}</td>
                <td class="announcement-column">{{ announcement.title }}</td>
                <td class="details-column">
                  <ion-button size="small" fill="clear" (click)="showDetails(announcement)" expand="block" class="details">
                    Details
                  </ion-button>
                </td>
                <td class="delete-column">
                  <ion-button
                    size="small"
                    fill="clear"
                    (click)="deleteAnnouncement(announcement)"
                    class="delete"
                    color="danger"
                  >
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
      
    </ion-card-content>
    <ng-template #noAnnouncements>
      <p class="empty-announcement-message">There are no announcements.</p>
    </ng-template>
  </ion-card>
  
  
</ion-content>
