<ion-header [translucent]="true">
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
          <ion-title size="small">SagiPet</ion-title>
        </div>
      </div>
      <ion-buttons slot="end">
        <ion-select aria-label="filter" interface="popover" placeholder="Filter">
          <ion-select-option value="cats">Cats</ion-select-option>
          <ion-select-option value="dogs">Dogs</ion-select-option>
          <ion-select-option value="aged">Aged</ion-select-option>
        </ion-select>

      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" slot="end">pets</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <div class="background-design"></div>
    <div class="content">
    </div>
  </section>

  <ion-card-content>
    <ion-card-header>
      <div class="content">
        <h1>Find a <span>new </span>Pet for you!!</h1>
        <ion-card-subtitle>See here your desired pets</ion-card-subtitle>
      </div>
    </ion-card-header>

        
    <ion-grid>
      <ion-row>  

        <ion-col>  
        <ion-card button class="fixed-card">
          <ion-icon size="small" style="color: rgb(171, 47, 47);"></ion-icon>
          <img src="../../assets/icon/d3.png" class="fixed-image"/>
          <ion-card-header>
            <ion-card-title>Maxi</ion-card-title>
            <ion-card-subtitle>
              Gender: Female
              Age: 3yrs old
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/client" shape="round" color="success">Adopt</ion-button>
          <ion-button shape="round" color="danger">Remove</ion-button>
        </ion-card>
       </ion-col> 

       <ion-col> 
        <ion-card button class="fixed-card">
          <ion-icon size="small"></ion-icon>
          <img src="../../assets/icon/d1.png" class="fixed-image" />
          <ion-card-header>
            <ion-card-title>Maxi</ion-card-title>
            <ion-card-subtitle>
              Gender: Female
              Age: 3yrs old
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/client" shape="round" color="success">Adopt</ion-button>
          <ion-button shape="round" color="danger">Remove</ion-button>
        </ion-card>
      </ion-col>
        

      <ion-col> 
        <ion-card button class="fixed-card no-top-margin">
          <ion-icon size="small"></ion-icon>
          <img src="../../assets/icon/d2.png" class="fixed-image" />
          <ion-card-header>
            <ion-card-title>Maxi</ion-card-title>
            <ion-card-subtitle>
              Gender: Female
              Age: 3yrs old
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/client" shape="round" color="success">Adopt</ion-button>
          <ion-button shape="round" color="danger">Remove</ion-button>
        </ion-card>
      </ion-col>


      </ion-row>
    </ion-grid>    


    <ion-grid>
      <ion-row>  

        <ion-col>  
        <ion-card button class="fixed-card">
          <ion-icon size="small" style="color: rgb(171, 47, 47);"></ion-icon>
          <img src="../../assets/icon/d3.png" class="fixed-image"/>
          <ion-card-header>
            <ion-card-title>Maxi</ion-card-title>
            <ion-card-subtitle>
              Gender: Female
              Age: 3yrs old
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/client" shape="round" color="success">Adopt</ion-button>
          <ion-button shape="round" color="danger">Remove</ion-button>
        </ion-card>
       </ion-col> 

       <ion-col> 
        <ion-card button class="fixed-card">
          <ion-icon size="small"></ion-icon>
          <img src="../../assets/icon/d1.png" class="fixed-image" />
          <ion-card-header>
            <ion-card-title>Maxi</ion-card-title>
            <ion-card-subtitle>
              Gender: Female
              Age: 3yrs old
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/client" shape="round" color="success">Adopt</ion-button>
          <ion-button shape="round" color="danger">Remove</ion-button>
        </ion-card>
      </ion-col>
        

      <ion-col> 
        <ion-card button class="fixed-card no-top-margin">
          <ion-icon size="small"></ion-icon>
          <img src="../../assets/icon/d2.png" class="fixed-image" />
          <ion-card-header>
            <ion-card-title>Maxi</ion-card-title>
            <ion-card-subtitle>
              Gender: Female
              Age: 3yrs old
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button routerLink="/client" shape="round" color="success">Adopt</ion-button>
          <ion-button shape="round" color="danger">Remove</ion-button>
        </ion-card>
      </ion-col>


      </ion-row>
    </ion-grid>    
    

  </ion-card-content>
   
</ion-content>

