<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="display: flex; align-items: center;">
        <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
        <ion-title size="small">SagiPet: Don't Shop Just Adopt</ion-title>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list>
      <h1>Sign Up</h1>
      <div class ="signup a">
      <ion-input label="First Name" label-placement="floating" fill="solid" placeholder=""></ion-input>
      <ion-input label="Last Name" label-placement="floating" fill="solid" placeholder=""></ion-input>
      </div>
    <div class ="signup c">
      <ion-input label="Phone" label-placement="floating" fill="solid" placeholder=""></ion-input>
      <ion-input label="Email Address" label-placement="floating" fill="solid" placeholder=""></ion-input> 
    </div>

    <div class = "or">
      <div class ="orline"></div>
      <div class ="ortext">Address</div>
      <div class ="orline"></div>
    </div>
    <div class ="signup d">
      <ion-input label="Street" label-placement="floating" fill="solid" placeholder=""></ion-input>
      <ion-input label="Barangay" label-placement="floating" fill="solid" placeholder=""></ion-input> 
    </div>
    <div class ="signup e">
      <ion-input label="Municipality " label-placement="floating" fill="solid" placeholder=""></ion-input>
      <ion-input label="Province" label-placement="floating" fill="solid" placeholder=""></ion-input> 
    </div>
    <ion-input label="Username " label-placement="floating" fill="solid" placeholder=""></ion-input>
   <br>
    <div class ="signup f">
      <ion-input label="Password " type="Password" value="Password" label-placement="floating" fill="solid"></ion-input>
      <ion-input label="Confirm Password" type="Password" value="Password" label-placement="floating" fill="solid"></ion-input> 
    </div>

      <ion-button routerLink="/login">Sign-up</ion-button>
      <a class="ion-float-left">Already have an account?</a>
    </ion-list>
  </div>
  
</ion-content>
