<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div style="display: flex; align-items: center;">
        <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
        <ion-title size="small">SagiPet: Don't Shop Just Adopt</ion-title>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-list>
      <h1>Sign Up</h1>
      <!-- <form [formGroup]="signupForm"> -->
        <div class="name-inputs">
          <ion-item>
            <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input fill="outline" formControlName="fname" placeholder="" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input fill="outline" formControlName="lname" placeholder="" required></ion-input>
          </ion-item>
        </div>
        <ion-item>
          <ion-label position="floating">Phone <ion-text color="danger">*</ion-text></ion-label>
          <ion-input fill="outline" formControlName="phone" placeholder="" required></ion-input>
        </ion-item>
        <div class="username-email-inputs">
          <ion-item>
            <ion-label position="floating">Username <ion-text color="danger">*</ion-text></ion-label>
            <ion-input fill="outline" formControlName="username" placeholder="" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input fill="outline" formControlName="email" value="hi@ionic.io" required></ion-input>
          </ion-item>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="password" formControlName="password" fill="outline" value="password" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="password" formControlName="confirmPassword" fill="outline" value="password" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      <!-- </form> -->

      <ion-button>Sign-up</ion-button>
      <a class="ion-float-left">Already have an account?</a>
    </ion-list>
  </div>
</ion-content>


