@media only screen and (min-width: 992px) {
    .container {
      width: 45%;
      margin:auto;
     }
  }
  *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
img{
    margin-top: 10px;
  }
  ion-toolbar{
    --background: linear-gradient(to bottom, #43aeff, #43aeff);
  }
  ion-content{
    --background: linear-gradient(to bottom, #43aeff, #ffffff);
  }
  ion-card-content {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
  }

    ion-card {
      color:black;
      background: linear-gradient(to bottom, #ffffff, #fcfcfc, #ffffff);
    }
  ion-icon {
    position: flex;
    top: 10px;
    right: 4px;
  }
  
  .icon-button{
    display: flex;
    justify-content: flex-end;
  }