<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
          <ion-title size="small">SagiPet</ion-title>
        </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">news</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="background-design"></div>
  <ion-card-content>
    <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
      <img src="../../assets/icon/ud1.gif" style="max-width: 80%; max-height: 80%;">
    </div>
  </ion-card-content>
</ion-content>