@media only screen and (min-width: 992px) {
    .container {
      width: 45%;
      margin:auto;
     }
    }
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  img {
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
  }
  ion-toolbar{
    --background: linear-gradient(to bottom, #43aeff, #43aeff);
  }
  ion-content{
    --background: linear-gradient(to bottom, #43aeff, #ffffff);
  }
  .background-container {
    background-image: url(../../assets/icon/dashbackground.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    margin-top: -1px;
  }
  