
  <ion-header [translucent]="true">
  <ion-header collapse="fade">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>

      <div style="display: flex; align-items: center;">
        <img src="../../assets/icon/logo.jpg" style="height: 50px; margin-right: 8px; margin-bottom: 8px;">
        <ion-title>Sagipet: Don't Shop, Just Adopt</ion-title>
      </div>

      <div class="announcement" slot="end">
        <ion-button routerLink="/news" color="blue" shape="round" fill="solid">Announcement</ion-button>
      </div>
      
    </ion-toolbar>
  </ion-header>
</ion-header>


<ion-content>
  <section>
    <div class="background-design"></div>
    <div class="content">
      <span class="title">Don't Shop, Just Adopt</span>
      <h1>Find a <span>new </span>Pet for you!!</h1>
      <p>You can help save lives of Aspin and Ascats, help them find a new home to build and bring joy into</p>
    </div>
  </section>





<!-- <div class="cards">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adopt now!!</ion-card-title>
      <ion-card-subtitle>Get yourself a new loyal buddy</ion-card-subtitle>
    </ion-card-header>
    
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Maxi</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Juliet</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Romeo</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Kitty</ion-label>
        </ion-item>

        <ion-button routerLink="/pets" slot="center" color="dark" shape="round" fill="outline">See More</ion-button>
    
      </ion-list>
    
  </ion-card>
</div>


</ion-content>



 -->
