@media only screen and (min-width: 992px) {
    .container {
      width: 45%;
      margin:auto;
     }
    }
*{
    font-family: lato;
  }
  img {
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
  }
  ion-toolbar{
    
    display: flex;
    justify-content: space-between;
    --background: linear-gradient(to bottom, #4d71d7, #4d71d7);
  }
  ion-content{
    --background: linear-gradient(to bottom, #4d71d7, #ffffff);
  }
  .background-container {
    background-image: url(../../assets/icon/dashbackground.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    margin-top: -1px;
  }
  
  ion-select-option{
    width: 10px;
  }
  .buttonss{
    border-radius: 10px;
  }
  .button-container{
    margin-left: 50%;
  }

  .content{
    position: absolute;
    top: 20%;
    left: 8%;
}

  .content .title{
    color: #1f1f25;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 1px;
    background: linear-gradient(120deg, #141414 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #ffffff;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #fd4766;
}
.content p{
    width: 55%;
    color: #686868;
    margin-top: 25px;
    margin-bottom: 30px;
}


.container .img{
  align-items: end;
  border-radius: 10px;
}

