@media only screen and (min-width: 992px) {
    .container {
      width: 45%;
      margin:auto;
     }
    }
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  img {
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  