
.title {
    
    font-size: 18px;
}

.tool {
    border-bottom: 1px solid #817f7fb0;
}
.paw {
    width: 25px;
    height:25px;
    padding-right: 5px;
}
.person {
    width: 25px;
    height:25px;
    padding-right: 5px;
}
